header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

@media (min-width: 768px) {
    header .container {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

pre code {
    white-space: pre;
}

#input pre {
    max-height: 720px;
}