header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

@media (min-width: 768px) {
    header .container {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

pre code {
    white-space: pre;
}

#input pre {
    max-height: 720px;
}

#nprogress .bar {
    background: white;
}

#nprogress .spinner-icon {
    border-top-color: white;
    border-left-color: whitesmoke;
}

section#demo {
    padding: 20px 0;
}